{{ define "filtro-doc"}}
<div id="filtro">
  <div>
    <label>Categoria</label>
    <select id="categoria">
      <option value="">Escolha</option>
      <option value="IP">IP</option>
      <option value="TC">TC</option>
      <option value="PAI">PAI</option>
      <option value="Carta Precatoria">Cart Prec</option>
      <option value="Outro">Outro</option>
    </select>
  </div>
  <div>
    <label>Ano</label>
    <input type="text" id="ano" placeholder="2024" />
  </div>
  <div>
    <label>Nome</label>
    <input type="text" id="nome" placeholder="Digite o nome" />
  </div>
  <div>
    <button onclick="adicionaFiltro()">
      <span class="material-symbols-outlined">search</span>
    </button>
  </div>
</div>
<div id="filtros-ativos"></div>
{{end}}