<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário Documento</title>
</head>
<body>
    {{template "header"}}
    {{template "sidebar" }}
    <div>
        <h1>Adiconar Arquivo</h1>
        {{ if .Update }}
            <form id="{{.Documento.ID}}" class="form-update" onsubmit="updateForm(event)">
                <div>
                    <label >Nome do Arquivo:</label>
                    <input type="text" name="nome" id="nome" value="{{.Documento.Nome}}" placeholder="Nome do Arquivo"/>
                </div>
                <div>
                    <label>Ano:</label>
                    <input type="text" name="ano" id="ano" value="{{.Documento.Ano}}" placeholder='Informe o ano'/>
                </div>
                <div>
                    <label>Tipo de Arquivo:</label>
                    <select name="categoria" name="categoria" id="categoria" >
                        <option value="">Escolha</option>
                        <option value="IP" {{ if eq .Documento.Categoria "IP" }}selected{{ end }}>IP</option>
                        <option value="TC" {{ if eq .Documento.Categoria "TC" }}selected{{ end }}>TC</option>
                        <option value="PAI" {{ if eq .Documento.Categoria "PAI" }}selected{{ end }}>PAI</option>
                        <option value="Carta Precatoria" {{ if eq .Documento.Categoria "Carta Precatoria" }}selected{{ end }}>Cart Prec</option>
                        <option value="Outro" {{ if eq .Documento.Categoria "Outro" }}selected{{ end }}>Outro</option>
                    </select>
                </div>
                <div>
                    <label>Buscar</label>
                    <input type="file" name="arquivo" id="arquivo">
                    <p>Limite de arquivos de 20Mb</p>
                </div>
                <div>
                    <button type="submit">Salvar</button>
                    <a href="/index/documentos"><button type="button">Cancelar</button></a>
                </div>
            </form>
        {{ else }}
        <form class="form-update" onsubmit="postForm(event)">
            <div>
                <label >Nome do Arquivo:</label>
                <input type="text" name="nome" id="nome" placeholder="Nome do Arquivo"/>
            </div>
            <div>
                <label>Ano:</label>
                <input type="text" name="ano" id="ano" placeholder='Informe o ano'/>
            </div>
            <div>
                <label>Tipo de Arquivo:</label>
                <select name="categoria" name="categoria" id="categoria">
                    <option value="">Escolha</option>
                    <option value="IP">IP</option>
                    <option value="TC">TC</option>
                    <option value="PAI">PAI</option>
                    <option value="Carta Precatoria">Cart Prec</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <div>
                <label>Buscar</label>
                <input type="file" name="arquivo" id="arquivo">
                <p>Limite de arquivos de 20Mb</p>
            </div>
            <div>
                <button type="submit">Salvar</button>
                <a href="/index/documentos"><button type="button">Cancelar</button></a>
            </div>
        </form>
        {{end}}
    </div>
<script src="/static/js/form-documento.js"></script>
</body>
</html>
