{{ define "table-doc" }}
<table>
    <thead>
    <tr>
        <th>Documento</th>
        <th>Categoria</th>
        <th>Última Alteração</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>IP 905.24</td>
        <td>IP</td>
        <td>16/10/2024</td>
        <td>
            <button>
                <span class="material-symbols-outlined">download</span>
            </button>
            <button>
                <span class="material-symbols-outlined">edit</span>
            </button>
            <button>
                <span class="material-symbols-outlined">delete</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
{{end}}
