{{ define "table-doc" }}
<table>
    <thead>
    <tr>
        <th>Documento</th>
        <th>Categoria</th>
        <th>Última Alteração</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {{range .}}
    <tr>
        <td>{{.Nome}}</td>
        <td>{{.Categoria}}</td>
        <td>{{.UpdatedAt}}</td>
        <td>
            <button value="{{.ID}}" class="btnDownload">
                <span class="material-symbols-outlined">download</span>
            </button>
            <a href="/index/documentos/{{.ID}}">
                <button>
                    <span class="material-symbols-outlined">edit</span>
                </button>
            </a>
            <button value="{{.ID}}" class="btnDelete">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </td>
    </tr>
        {{end}}
    </tbody>
</table>
{{end}}
