<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/avisos.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="bg-avisos">
        <h1 class="titulo">Cadastre-se</h1>
        <div class="conteudo">
            <p>Para se cadastrar no Sistema de Arquivo Digital, envie um email para<br><span class="email" onclick="copiarEmail()">tidposorio@gmail.com </span>com o
            assunto <strong>'QUERO ME CADASTRAR'</strong> com as seguintes informações: </p>
            <ul>
                <li>Nome</li>
                <li>Um nome de usuario (Ex: 'joao-silva')</li>
                <li>Uma senha</li>
            </ul>
            <p>Você receberá um email de confirmação do seu cadastro no sistema.</p>
        </div>
        <div class="botao-container">
            <a href="/"><button>Voltar</button></a>
        </div>
    </div>
    <script src="/static/js/avisos.js"></script>
</body>
</html>