<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {{ template "header" }}
    <h1>Arquivo Digital da Policia Civil</h1>
    {{ template "sidebar" }}
    <div>
        <div>
            <p>Adicionar Arquivo</p>
            <span class="material-symbols-outlined">add</span>
        </div>
        <div>
            <p>Buscar Arquivo</p>
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
</body>
</html>

