<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Index</title>
</head>
<body>
    {{ template "header" .Usuario }}
    {{ template "sidebar" .Usuario }}
    <div class="bg-index">
        {{ if .Usuario.Admin }}
        <div class="space">
            <p>Em producao...</p>
            <i class="bi bi-exclamation-triangle-fill"></i>
        </div>
        {{ else }}
        <a href="/index/documentos/form">
            <div class="space">
                <p>Adicionar Arquivo</p>
                <i class="bi bi-plus-circle"></i>
            </div>
        </a>
        <a href="/index/documentos">
            <div class="space">
                <p>Buscar Arquivo</p>
                <i class="bi bi-search"></i>
            </div>
        </a>
    <div>
</body>
</html>

