<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {{ template "header" .Usuario }}
    <h1>Arquivo Digital da Policia Civil</h1>
    {{ template "sidebar" .Usuario }}
    
    {{ if .Usuario.Admin }}
        <div>
            <h1>Em producao...</h1>
            <span class="material-symbols-outlined">construction</span>
        </div>
    {{ else }}
        <div>
            <a href="/index/documentos/form">
                <div>
                    <p>Adicionar Arquivo</p>
                    <span class="material-symbols-outlined">add</span>
                </div>
            </a>
            <a href="/index/documentos">
                <div>
                    <p>Buscar Arquivo</p>
                    <span class="material-symbols-outlined">search</span>
                </div>
            </a>
        </div>
    {{ end }}
</body>
</html>

