{{define "login"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class='bg-login'>
        <div class='div-image'>
            <img src="/static/img/Logo-PC.png" alt="logo-pc" />
        </div>
        <div class='div-form'>
            <h2 class='titulo-form' >Login</h2>
            <form method="post" action="/login" onsubmit="return validaForm(event)">
                <div class='input-group'>
                    <input type="text" name="RG" id="nickname" required />
                    <label for="nickname">USUARIO</label>
                </div>
                <div class='input-group'>
                    <input type="password" name="Senha" id="password" required />
                    <label for="password" >SENHA</label>
                    <i class="bi bi-eye" id="icon-olho" onclick="mostraSenha()"></i>
                </div>
                <a href="/recSenha">Esqueceu a Senha?</a>

                {{if not .Status}}
                    <div id="mensagem-erro" style="color: red">{{.Message}}</div>
                {{end}}
                
                <div class='button-group'>
                    <button type="submit">ENTRAR</button>
                    <a href="/cadastro"><button type="button" id='cadastro'>CADASTRAR</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
{{end}}
