{{define "login"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <h1>Tela de Login</h1>
        <label>RG</label><input type="text" name="RG" required>
        <label>Senha</label><input type="password" name="Senha" id="" required>
        <a href="/recSenha">ESQUECEU A SENHA ?</a>
        <button type="submit" onclick="validaLogin('{{.Status}}')">ENTRAR</button>
        <a href="/cadastro">CADASTRAR</a>
    </form>
    <script>
        function validaLogin(status){
            if(!status){
                alert('Usuario ou senha incorretos. Tente novamente!')
            }
        }
    </script>
</body>
</html>
{{end}}
