<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
    {{ template "header" }}
    {{ template "sidebar"}}
    <div>
      <h1>Adicionar Usuario</h1>
      <form method='post'>
      <div>
        <div>
          <label>Nome do Usuario:</label>
          <input type="text" placeholder='Nome do usuario'/>
        </div>
        <div>
          <label>RG do Usuario:</label>
          <input type="text" placeholder='RG do usuario'/>
        </div>
        <div>
          <label>Senha:</label>
          <input type="password" placeholder='Digite a senha'/>
        </div>
        <div>
          <label>Digite novamente a senha:</label>
          <input type="password" placeholder='Digite a senha novamente'/>
        </div>
        <div>
          <label>Admin:</label>
          <input type="checkbox"/>
        </div>
      </div>
      <div>
        <button type='submit'>Salvar</button>
        <button>Cancelar</button>
      </div>
      </Form>
    </div>
</body>
</html>