{{ define "table-users" }}
<div class="tabela">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
    <div class="bottom-table">
        <button onclick="voltaDados()">Anterior</button>
        <div class="spans">
            <span id="pagina-atual"></span>
            <span id="total-paginas"></span>
        </div>
        <button onclick="avancaDados()">Proximo</button>
    </div>
</div>
{{end}}
