@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.sidebar{
    background-color: var(--cor-principal);
    font-family: "JetBrains Mono", monospace;;
    height: 92.7vh;
    width: 16rem;
    position: fixed;
    top: 6.5rem;
    left: 0;
    z-index: 5;
    outline: none;
}

.sidebar ul{
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar li{
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight:normal;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    margin-bottom: 10px;
}

.sidebar li:focus{
    outline: none;
}

.sidebar li span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}


.sidebar-link:link{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.sidebar-link:visited{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.sidebar-link i{
    font-size: 19px;
}

.exit{
    margin-top: 175%;
}

.exit form{
    width: 100%;
    height: 100%;
}

.exit button {
    width: 80%;
    height: 100%;
    font-size: 18px;
    display: flex;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.exit i{
    font-size: 19px;
    margin-right: 12px;
}